# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
Supprimerait .idea/
Supprimerait cmake-build-debug/
Supprimerait .iml
